.button {
    box-sizing: border-box;
    height: 32px;
    background: #f5f5f5;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 4px 14px;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.button:focus {
    outline: none;
    border-color: #777;
}

.button>.circle {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background: rgba(170, 204, 238, 0.7);
    opacity: 0.5;
    display: inline-block;
    animation: 1s big forwards;
    position: absolute;
    z-index: 0;
}

.button>.value {
    position: relative;
    z-index: 1;
}

@keyframes big {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(12);
    }
}